

a:hover{
  color: white!important;
  transition: 5ms;
}

.read-the-docs {
  color: #f7f5f5;
}

.navbarcustom{
  min-height: 100vh!important;
}


/* player  */

.playerControls div {
  justify-content: space-between;
}

.playerControls div:first-of-type {
  margin-left: 10%;
  margin-right: 10%;
}

.playerControls a img {
  width: 14px;
  margin-top: 1rem;
  filter: brightness(60%);
}

.playerControls a:hover {
  filter: brightness(80%);
  color: #282828 !important;
}

.progress {
  color: white;
  background-color: #414141;
  height: 3px;
}

@media screen and (min-width: 1200px) {
  .playerControls div:first-of-type {
    margin-left: 25%;
    margin-right: 25%;
  }
}

i:hover{
  cursor: pointer;
}
/* end plauyer */